.sidebar {
  width: 350px;
  height: 100vh;
  background-color: #FFD3D5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.sidebar > div {
  padding: 0 24px;
  padding-top: 24px;
}

.sidebar .form-icons {
  min-width: 20px;
}

.btn-info {
  color: white;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
  color: white;
}


@media (max-width: 500px) {
  .sidebar {
    display: none;
  }
}
